/packages/
/targets/
/tools/Clojure*
/tools/Microsoft*
/src/**/*.dll
/src/**/*.exe
*.nupkg
/tools/NuGet.Core.dll
/tools/System.Web.Razor.dll
/tools/Westwind.RazorHosting.dll
/tools/camp.resources.dll
/test_project/
/test-project/
