/packages/
/targets/
/tools/Clojure*
/tools/Microsoft*
/src/**/*.dll
/src/**/*.exe
/scratch-project/
\#*#
/tstproj/
*.nupkg
/tools/NuGet.Core.dll
/camp.resources.dll
/tools/System.Web.Razor.dll
/tools/Westwind.RazorHosting.dll
/tools/camp.resources.dll
